
/*-------- Banner --------*/
.flexbox {
    display: flex; 
    height: 100%;
}
.content {
    height: 100vh; 
    margin: auto 2rem;
}
.span-6 {
    flex-basis: 50%;
}
.about-desc {
    display: flex;
    text-align: justify;
}
.inner-desc {
    margin: auto;
    padding: 0 7rem;
    padding-bottom: 20%;
}
.about-desc h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.about-desc h3{
    /* font-size: 3.5rem; */
    margin-bottom: .5rem;
}
/* .about-desc p{
    font-size: 1rem;
    line-height: 1.7rem;
} */
.span-6 img {
    height: auto;
    padding-top: 15%;
    width: 100%;
}
