
/*-------- Banner --------*/
.flexbox {
    display: flex; 
    height: 100%;
}
.content {
    height: 100vh; 
    margin: auto 2rem;
}
.span-6 {
    flex-basis: 50%;
}
.about-desc {
    display: flex;
    text-align: justify;
}
.inner-desc {
    margin: auto;
    padding: 0 7rem;
    padding-bottom: 20%;
}
.about-desc h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.about-desc h3{
    /* font-size: 3.5rem; */
    margin-bottom: .5rem;
}
/* .about-desc p{
    font-size: 1rem;
    line-height: 1.7rem;
} */
.span-6 img {
    height: auto;
    padding-top: 15%;
    width: 100%;
}
.button {
    cursor: pointer;
}

/*-------- Media Queries --------*/
@media only screen and (max-width: 1380px) {
    .span-6 img {
        padding-top: 30%;
    }
    .about-desc {
        text-align: left;
    }
}
@media only screen and (max-width: 1100px) {
    .content {
        height: auto !important;
    }
    .about-desc {
        margin-top: 5rem;
    }
    .span-6 img {
        padding-top: 20%;
    }
    .inner-desc h3 {
        font-size: 1.3rem;
    }
    .inner-desc h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 990px) {
    #scroll-to-top {
        display: none;
    }
    .about-img {
        display: none;
    }
    .about-desc {
        width: 100%;
        min-width: 100%;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: -3rem;
    }
    .inner-desc p {
        text-align: center;
    }
    .content {
        height: auto !important;
    }
}
