
/*-------- Navbar Header --------*/
.header-area {
    justify-content: space-between;
}
.navbar {
    background-color: transparent;
    padding: 1rem 6rem;
    position: absolute; 
    width: 100%;
    /* display: flex;
    flex-direction: row; */
}
.navbar-brand {
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--highlight-color) !important; 
    margin-top: 0.5rem; 
    padding: .5rem .8rem;
    text-align: center;
    cursor: pointer;
}
.navbar-brand:hover {
    color: var(--highlight-color) !important;  
    background-color: transparent !important; 
    cursor: pointer;
}
.nav-item {
    cursor: pointer; 
}
.nav-link {
    color: var(--text-dark) !important; 
    font-size: 1.2rem;
}
.mobile-menu-only {
    display: none;
}

@media only screen and (min-width: 770px) {
    .nav-list {
        display: flex;
        padding-top: .3rem;
        
    }
    .nav-item {
        /* margin: 0 1rem; */
        margin-right: 3rem;
        /* margin-bottom: 0; */
    }
    
    .nav-link:hover {
        color: var(--highlight-color); 
    }
    .nav-link:hover::after {
        /* position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: .8rem;
        top: 2rem; */
        color: var(--highlight-color);
    }
    .nav-toggle {
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .navbar {
        display: flex;
        width: 100%;
        position: fixed;
    }
    .navbar-brand {
        z-index: 100000;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100%;
        padding-right: 2rem;
        transition: .5s; 
    }
    .nav-item {
        margin-bottom: 2rem;
        margin: 2rem;
    }
    .nav-link {
        position: relative;
        color: var(--text-dark);
        font-size: 1.1rem;
    }
    .nav-link:hover {
        position: relative;
        color: var(--highlight-color);
    }
    .nav-link:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: var(--highlight-color);
    }
    .nav-toggle {
        color: var(--text-dark);
        font-size: 1.5rem;
        cursor: pointer;
    }
    .show {
        right: 0;
    }
    .mobile-menu-only {
        margin-top: 5rem;
        display: block;
    }
    .nav-exit {
        /* margin: 1.5rem 0 -2rem 2rem;  */
        content: "";
        display: flex;
        right: 0;
        font-size: 1.5rem;
    }
}