

/*-------- Services --------*/
.services {
    padding: 3rem 0;
}
.services-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.3rem;
}
.single-service {
    padding: 2rem;
    text-align: center;
    position: relative;
}
.single-service .services-inner,
.single-service:hover .services-inner{
    background: var(--background-dark);
}
.single-service.single-service .bg,
.single-service:hover .bg {
    position: absolute;
    background-image: linear-gradient(30deg, #7b2fbe, #e75e90);
    right: 6%;
    bottom: 5%;
    height: 80%;
    width: 75%;
    z-index: -0;
}
.single-service span {
    font-size: 3rem;
    color: var(--highlight-color);
}
.single-service h3 {
    font-size: 1.7rem;
    margin: 1rem 0;
}
.single-service p {
    margin-bottom: 1.2rem;
}
.single-service a {
    font-size: 1rem;
}
.services-inner {
    padding: 3rem 1.5rem;
    position: relative;
    z-index: 1;
    height: 100%;
}
.services-inner a {
    color: var(--highlight-color);
}

/*-------- Media Queries --------*/ 

@media only screen and (max-width: 1035px) {
    .services-main {
        grid-template-columns: repeat(2, 1fr);
    }

}
@media only screen and (max-width: 770px) {
    .services-main {
        grid-template-columns: repeat(1, 1fr); 
    }
}