
/*-------- Global Classes --------*/

a, Link {
    color: var(--highlight-color);
}
p {
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: justify;
}
.small-header {
    color: var(--highlight-color);
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}
.big-header {
    font-size: 2.5rem; 
    margin-bottom: 3rem;
    line-height: 2.5rem;
}
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.small-text {
    font-size: .8rem;
    line-height: 1.3rem;
}
.button { 
    padding: 0.7rem;
}
.divider {
    margin: 2rem 0;
    border-top: 2.5px solid var(--highlight-color);
}