
:root {
  --color-darkest: #222831;
  --color-dark: #393e46;
  --color-highligh: #32e0c4;
  --color-light: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: var(--color-light); 
  box-sizing: border-box;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: var(--color-darkest);
}
.star-bg {
  overflow: hidden; 
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  z-index: -1;
  height: 100vh;
  width: 100%;
}